<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.cidadesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Cidades</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.estadosPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Estados</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.paisesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Paises</button>
                        </div>
                        <div class="col-sm-4">
                            
                        </div>
                        <div class="col-sm-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>