<div class="container-fluid" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.cidadesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Cidades</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.estadosPage()"><i 
                                class="fa fa-map fa-5x"></i><br><br>Estados</button>
                                
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.paisesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Paises</button>
                        </div>                        
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.posicoesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Posições</button>
                        </div>

                        <div class="col-sm-3">                            
                        </div>
                        <div class="col-sm-3">                            
                        </div>

                    </div>
                    <br>        
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.quadrasPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Quadras</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.usuariosPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Usuários</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.jogadoresPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Jogadores</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.equipesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Equipes</button>
                        </div>

                        <div class="col-sm-3">                            
                        </div>
                        <div class="col-sm-3">                            
                        </div>

                    </div>
                    <br>        
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.agendasPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Agendas</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.clientesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Clientes</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.horariosPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>Horários</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block" ng-click="vm.equipesPage()"><i
                                class="fa fa-map fa-5x"></i><br><br>XXX</button>
                        </div>

                        <div class="col-sm-3">                            
                        </div>
                        <div class="col-sm-3">                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>